.fixed-top {
    height: 100px;
}
.nav-tabs > .nav-item > .nav-link.active {
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: white;
    font-size: 16px !important;
    font-weight: 500 !important;
    background: #e14eca !important;
}
.placeColorBlack{
    color:black !important;
}