/* .sidebar, .off-canvas-sidebar{
    background: #e14eca !important;
    background: -webkit-gradient(linear, left bottom, left top, from(#e14eca), to(#e14eca));
    background: linear-gradient(0deg, #e14eca 0%, #e14eca 100%);
} */


.sidebar[data="blue"], .off-canvas-sidebar[data="blue"] {
    background: #0e1635 !important;
    background: -webkit-gradient(linear, left bottom, left top, from(#e14eca), to(#ff8d72)) !important;
    background: linear-gradient(0deg, #e14eca 0%, #e14eca 100%) !important;
}
.nav-link p {
     font-size: 12px;
     font-weight: 600;
}